<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <style>
      h1 { color: red;}
    </style>
  </head>

  <body>
    <h1>We'll be right back</h1>
    <p>
      The site is currently being updated.
    </p>
  </body>
</html>
